

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main{
  position: fixed;
  display: flex;
  flex-direction: column;
}
.home-container{
  display: flex;
  /* position: absolute; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-top:5%; */
  width:100%;
  overflow-y: scroll;
}
.card{
  display: flex;
  flex-direction: column;
  width:20%;
  height:400px;
  margin:5px;

}
.card-img{
  height:300px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{height: 80px; width: 100%;}
.navbar-black{background-color: black;}
/* .navbar-fix{position: fixed;} */
.navbar-items{ padding-left: 70px;  } 
.navbar-items-text{color: aliceblue; font-size: 18px; }
.navbar-items:hover{color: turquoise;}
.icon{height:40px; width:40px; color:white; }

.search-input{background-color: rgb(33, 35, 37); width: 250px;height: 30px; border-color: black;}
.form-pos{   background-color: black;  height: 70px}
.search{width:300px; height:40px; border-radius:3%;  background-color: #3F4448; color: #8D9086; border:0px;   }
.search-button{ height:30px; width:80px; border-color: darkolivegreen; background-color: darkolivegreen; display: flex; align-self: center;}
.intro-box{  margin-top: 10%;    }
.info-name{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: darkslategrey; font-size: 40px;}
.follow-button{border-width:1px; border-color: rgb(148, 145, 145); height: 40px; width:300px; color: rgb(14, 17, 14); background-color: rgb(190, 178, 178); font-size: 20px; }
.follow-button:hover {   background-color: rgb(141, 138, 138); } 
.other-img{height: 300px; width:300px;}
