#todoform
{
    background-color: blue;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;

}

#todo{
flex: 3;
border-radius: 10px;
}

#submitbutton{
    flex:1;
}
ul{
    list-style-type: none;
}

ul>li{
    background-color: blue;
}
