 
 .section{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap; 
   
   
 }
.navbar{
   float: right;
    
}
.nav-pos
{
  height: 50px;
  background-color: rgb(9, 172, 50);
  width:100%;
  margin-bottom: 10px;
}
.table{
  width:60%;
border:1px;
margin-top: 5%;
margin-left: 20%;
}
 
.checkout{
  float: right;
}

.addToCart{
  width: 100%;
  height: 50px;
}
 