*{
    box-sizing:border-box;
    font-family: "Courier New", Courier, monospace;
    border-radius: 3%; 
}
.calculator{
    width: 230px;
    height: 300px;
    border: 1px solid rgb(177, 158, 158);
    font-size: 12px;
     
}

.display{
    color:black;
    height: 100%;
    width: 100%;
    background-color:white;
    text-align: right;
    padding-top: 7px;
    padding-right: 2px;
    overflow:hidden;
}

.row{
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 16.67%;
}

.one-half{
    width: 50%;
}

.quarter{
    width: 25%;
}

.two-thirds{
    width: 75%;
}

.button{
    text-align: center;
    font-size: 2.5em;
    padding-top: 7px;
    background-color: #acc1ec;
    border: 1px solid black;
}

.button:last-child{
    background-color:#b39d87;
    border-right:0px;
    color: white;
    font-weight: normal;
}

.button:hover{
    background-color: #ebebeb;
}

.button:last-child:hover{
    background-color:#dfb07e;
}
.clock{
    float: left;
     
}