  
.nav-container{
  background-color: rgb(5, 5, 5);
  height: 50px;      
}
.nav-btn
{
  width: 150px;
  color: aliceblue;
  background-color: black;
  border-color: black;  
} 
.FlexBox{
  margin: 10px 10px; 
  display: flex;  
}
.img-home
{
  height: 150px;
  width: 150px;
  margin: 10px 10px; 
}

.input-text{
  margin-top: 10px;
  width: 300px;
  height: 50px;
}